@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #fafafa;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
